$cyan: hsl(179, 62%, 43%);
$tealpastel: rgb(79, 189, 186);
$brightyellow: hsl(71, 73%, 54%);
$lightgray: hsl(204, 43%, 93%);
$grayishblue: hsl(218, 22%, 67%);
$platinum05: rgb(227, 227, 225, 0.5);
$platinum: rgb(227, 227, 225);