@import '../sass/color.scss';
@import '../sass/font.scss';
@import '../sass/mediaquery.scss';



b {
    color: white;
    font-size: 16px;
}

strong {
    font-size: x-large;
    color: white;
    margin-right: 5px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}



.container {
    width: 600px;
    text-align: left;
    font-family: $karla;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header "
        "main sidebar";
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    border: none;

    @include respond(small) {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
}

.box {
    padding: 30px;

}

.box1 {
    background-color: white;
    grid-area: header;
    border-radius: 10px 10px 0 0;
}

.box2 {
    background-color: $cyan;
    color: $platinum;
    grid-area: main;
    border-radius: 0 0 0 10px;

    @include respond(small) {
        border-radius: 0;
    }
}

.box3 {
    background-color: $tealpastel;
    color: $platinum;
    grid-area: sidebar;
    border-radius: 0 0 10px 0;

    @include respond(small) {
        border-radius: 0 0 10px 10px;
    }
}

.signupbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: $brightyellow;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
    width: 220px;
    box-shadow: 2px 2px 10px grey;

    &:hover {
        font-weight: bolder;
    }
}

.subtext {
    color: $platinum05;
}

.greenword {
    color: $brightyellow;
    font-weight: bold;
}

.greenword~p {
    color: $grayishblue;
}

.titlecyan {
    color: $cyan;
    margin: 0;
    font-weight: bold;
}

.poinParagraph {
    font-size: 14px;
    margin-bottom: 0;
}